.App {
  
}

.sideBar{
    list-style: none;
    width: 100%;
    padding: 0;
    margin:0;    
}

.sideBar>li{
    padding: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.sideBar>li.active{
    background-color:grey;
    color: #fff;
}

.sideBar>li>a{
    text-decoration: none;
    color:#000;
}

.sideBar>li:hover{
    background-color:grey;   
}

.sideBar>li:hover>a{
    color:#fff;   
}